# Database
DATABASE_URL="postgresql://neondb_owner:npg_f7KCA9LStYvO@ep-fancy-hall-acu1conl-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Better Auth
BETTER_AUTH_SECRET="uz0QE0UOWBzS57rZdMDIUEaIjZXJ6gf/oiGnPMEeWbU="
BETTER_AUTH_URL="https://www.better-auth.com/docs/authentication/other-social-providers"

# Elysia Server
ELYSIA_PORT=3001

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"